/* .page{
    position: relative;
    height: 100vh;
    border:2px solid black;
} */
.footer{
    border: 2px solid black;
    /* color: red; */
    position: sticky;
    bottom: 0px;
    width: 100vw;

}